* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #828282;
}

h1 {
  font-size: 36px;
  color: #333333;
}
p, label{
  margin: 4px 0px 4px 0px;
}
.body-project {
  margin-top: 120px;
  width: 70%;
  height: 1000px;
  border: solid 1px red;
}
.error-lab{
  color: #d32f2f;
}
.text-input-error{
  border: none;
  outline: none;
  outline: 1px solid #d32f2f;
}
.text-input-error:focus{
  border: none;
  outline: none;
  outline: 1px solid #d32f2f;
}
/*--------------Section About Input ----------------*/
.input-way,
.input-way-error {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  margin: 10px 0px 10px 0px;
  justify-content: space-between;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input input,
.form-input-error input{
  width: 200px;
  height: 56px;
  padding: 4px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  color: #828282;
}
.form-input input{
  border: solid 1px #828282;
}
.form-input input:focus {
  border: none;
  outline: none;
  outline: solid 1px #2962FF;
}

.form-input input:hover,
.form-input-error input:hover,
.form-input-error-hover  input{
  border: none;
  outline: none;
  border: solid 1px #333333;
}

.form-input input::content {
  border: none;
  outline: none;
  border: solid 1px #333333;
}
.help{
  border: solid 1px #d32f2f;
}
/*-----------------Input Error Style ----------------*/
.form-input-error input{
  border: none;
  outline: none;
}
.form-input-error input{
  border: solid 1px #d32f2f;
}
/*-----------Footer --------------*/
footer {
  margin-top: 50px;
}

footer p {
  text-align: center;
  color: rgb(144, 142, 142);
  font-size: 16px;
}

footer a {
  color: rgb(103, 102, 102);
}